body{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	max-width: 720px;
}


.wrapper{
	padding-top: 25px;
	padding-right: 20px;
	padding-left: 20px;
}

.header__title{
	display: inline-block;
	font-size: 16px;
	margin-top: 0;
	margin-left: 130px;
	font-family: Arial;
	font-weight: bold;
}

.header__title-about{
	font-family: Arial;
	margin: 0;
	font-size: 11px;
	color: #808080;
	font-weight: 400;
}

.header__aboutImg-text{
	display: inline;
	font-size: 14px;
}

.header__img{
	z-index: 1;
	position: absolute;
	top: 15px;
}



.header__aboutImg{
	background-color: #faf6c4;
	width: 330px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
  	border-radius: 4px;
  	border: 1px solid lightgrey;
  	position: relative;
  	left: 90px;
}

.srvises{
	margin-top: 13px;
	margin-left: 128px;
}
.services__title{
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	font-weight: 400;
	margin-right: 35px;
	margin-bottom: 10px;
	margin-top: 15px;
}

.services__list{
	list-style-type: none;
	padding: 12px 0;
	margin-top: 9px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}


.services__text{
	display: inline-block;
	top: -8px;
	left: 7px;
	font-size: 13px;
	position: relative;
}

.services__text-result{
	float: right;
	padding-top: 7px;
	font-size: 13px;
	font-weight: bold;
	padding-right: 45px;
}

.services__type-green{
	background-color: lightgreen;
	width: 220px;
	height: 25px;
	border-left: 1px solid;
	display: inline-block;
	position: absolute;
}

 .services__type-blue{
 	background-color: lightblue;
 	width: 55px;
	height: 25px;
	border-left: 1px solid;
	display: inline-block;
	position: absolute;
}

.services__type-blue--min{
 	background-color: lightblue;
 	width: 35px;
 	height: 25px;
	border-left: 1px solid;
	display: inline-block;
	position: absolute;

}

.services__type{
	margin-bottom: 1px;
	height: 25px;
}
.thatsall{
	font-weight: bold;
	font-size: 16px;
}

.thatsAll-result{
	float: right;
	padding-right: 45px;
}

.reviews{
	margin-top: 29px;
}

.lastReviews{
	margin-right: 10px;
}

.active{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.lastReviews, .allReviews, .likes, .comments{
	display: inline-block;
}

.rightside, .leftside{
	display: inline-block;
}

.rightside{
	float: right;
}

.likes a, .comments a{
	text-decoration: none;
}

.likesComments{
	margin-right: 7px;
}

.reviewblocks{
	margin-top: 15px;
}
.commentbox{
	margin-top: 9px;
}

.commentbox:first-child{
	margin-top: 0px
}

.name {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.date {
  display: inline-block;
  font-size: 11px;
  color: grey;
  margin-left: 10px;
}

.reviewtext {
  background-color: #f2fafd;
  padding: 17px 18px 14px 20px;
  margin-top: 15px;
  border: 1px solid grey;
  font-size: 14px;
  position: relative;
}

.triangle-out {
  position: absolute;
  top: -15px;
  left: 15px;
  border: 10px solid transparent;
  border-left: 10px solid #f2fafd;
  border-bottom: 10px solid #f2fafd;
  z-index: -1;
}

.triangle-out:before {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background: grey;
  position: absolute;
  top: -10px;
  left: -6px;
}

.triangle-out:after {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background: grey;
  position: absolute;
  top: -14px;
  left: 5px;
  transform: rotateZ(-45deg);
}

.triangle-in {
  position: absolute;
  top: -14px;
  left: 20px;
  border: 10px solid transparent;
  border-left: 10px solid #f2fafd;
  border-bottom: 10px solid #f2fafd;
}

.parent {
  position: relative;
}

.addComment{
	background-color: #f2f2f2;
	text-align: center;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 20px;
	padding-right: 20px;
}

.texinput{
	display: block;
	height: 65px;
	width: 100%;
}

.addButton{
	background-color: #fdd639;
	margin-top: 20px;
	padding: 15px 30px;
	border-radius: 30px;
	box-shadow: 0px;
}

@media screen and (max-width: 480px) {
    .header__aboutImg {
        width: 278px;
    }

    .services__type-green{
    	width: 150px;
    }

    .services__list{
    	margin-right: 10px;
    }
}

@media screen and (max-width: 430px) {
    .header__aboutImg {
        width: 240px;
    }
    .header__aboutImg-text{
    	font-size: 12px;
    }
    .services__type-green{
    	width: 130px;
    }
}
@media screen and (max-width: 390px) {
    .header__aboutImg {
        width: 200px;
    }
    .header__aboutImg-text{
    	font-size: 10px;
    }

    .services__text{
    	font-size: 12px;
    }

    .services__type-green{
    	width: 120px;
    }

    .services__text-result{
    	padding-right: 20px;
    }
}

@media screen and (max-width: 350px) {
    .header__aboutImg {
        width: 190px;
    }
    .header__aboutImg-text{
    	font-size: 9px;
    }
    .services__type-green{
    	width: 115px;
    }
}

@media screen and (max-width: 337px) {
    .header__aboutImg {
        width: 150px;
        top: 12px;
    }
    .header__img{
    	top: 55px;
    }
    .header__title{
    	margin-left: 99px;
    }
    .header__aboutImg-text{
    	font-size: 9px;
    }
    .services__type-green{
    	width: 70px;
    }
    .services__text{
    	font-size: 10px;
    	top: -3px;
    }

    .srvises{
    	margin-left: 100px;
    }
}